<h1>View</h1>

<p>This section contains samples demonstrating various settings that can be applied using Essential DocIO. 
It includes the following:</p>
<ul>
<li><b>Document Settings-</b>This sample demonstrates Essential DocIO's support for applying various document settings, such as document properties, print settings, and page setup options.</li>
<li><b>Macro Preservation-</b>This sample demonstrates Essential DocIO's support for preservation of word macro-enabled documents.(Docm and Dotm)</li>
</ul>